.chat-side
  .chat-header
    .side-header__box
      %p.side-header__box__user-name username
    =link_to "#", class: "contents__btn" do
      = icon('fab', 'edit')
    =link_to "#", class: "contents__btn" do
      = icon('fab', 'cog')
  .groups
  =link_to "#", class: "group" do
    %p.group__grope-name groupname
    %p.group__latest-message まだメッセージがありません